@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

#main-top {
  font-family: 'Indie Flower', Times, serif;
  font-size : 90px;
  margin : 10px;
  position : static;
}

.dog_run {
  background-image: url("png/dog_run.gif");
  background-position:center;
  background-repeat:repeat-x; /* 배경이미지 가로로 반복 */
  background-size:724px;
  bottom:0;
  height:200px;
  left:0;
  position:fixed;
  width:100%;
  display:none;
}
.login {
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 15px;
	font-family: 'Baloo', Times, serif;
  margin: 15px 10px;
  width: 100%;
}

.main-top {
  position: fixed;
  bottom: 10px;
  right: 0;
}

.button {
  position : relative;
  border : none;
  background-color : white;
  width : 30px;
  margin : 10px;
}


#main-image {
  margin: 80px 0;
  z-index: -1;
  position: relative;
}
